
<!-- This defines the header for the site -->
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<style type="text/css">
    {# set default font for website #}
    * {
      font-family: 'Droid Sans', sans-serif;
    }
</style>
<div id="one"></div>
<div id="one"></div>
<div class="ui relaxed column grid">
  <div class="row" style="background-color: #FFFFFF">
    <div class="one wide column"></div>
    <div class="five wide column">
      <a href="/">
        <img class="ui small image" src="/images/logo.png">
      </a>
    </div>
    <!-- 6/16 columns used so far, rest have to add to 10-->
    <div class="five wide column"></div>
    <div class="four wide column">
      <div class="ui three column grid">
        <div id="one"></div>
        <div id="one"></div>
        <div class="ui centered row">
          <div class="column">
            <a href="/faq">
              <button id="den_button" class="ui fade blue basic button">FAQ</button>
            </a>
          </div>
          <div class="column">
            <a href="/login">
              <button id="den_button" class="ui fade blue basic button">Login</button>
            </a>
          </div>
          <div class="column">
            <a href="/signup">
              <button id="den_button" class="ui fade blue basic button">Signup</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is where everything else goes-->
{{outlet}}

<footer>
  <div class="ui grid">
    <div class="ui centered row">
      <div class="ui divided horizontal footer link list">
        <div class="item">
          &copy; Froshmate
        </div>

        <div class="item">
          v 0.1.1
        </div>
        <a href="/theteam" class="item">The Team</a>
        <a href="/" class="item">Homepage</a>
      </div>
    </div>
  </div>
</footer>
