{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="column centered row">
    <div class="ui huge center aligned header">College Admissions, Rethought.</div>
    <p align="center" style="font-size:150%"><br>
      Froshmate matches you with a student<br>
      at your dream college, so that you can learn<br>
      about the school and application process<br>
      from an unbiased source.<br><br>

      Think of it as giving you a friend at every college.
    </p>
  </div>
  <div class="column centered row">
    <p align="center" style="font-size:120%"><br>
      Sign up now, and we'll contact you later this summer<br>
      with exclusive early access.
    </p>
  </div>
  <div class="column centered row">
    <div class="seven wide column">
      <form class="ui form">
        <div class="field">
          <select class="ui dropdown">
            <option value="">I am a...</option>
            <option value="1">College Student</option>
            <option value="0">High School Student</option>
          </select>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Email">
        </div>
      </form>
    </div>
  </div>

</div>
